# Cleaning of the data collected

In [12]:
import pandas as pd

In [13]:
import_data = pd.read_csv('/home/sgouros/Desktop/Test/bazaraki_car_prices/DataCollection/car_prices_bazaraki.csv')
import_data

,Car,Km_Transmission_Gas,Price,Date_Place
0,"Land Rover Defender 2,0L 2020","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist..."
1,"Lamborghini Urus 4,0L 2020","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist..."
2,"Chevrolet Spark 1,0L 2012","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric..."
3,"Nissan Note e-Power 1,2L 2019","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri..."
4,"Subaru XV 2,0L 2020","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L..."
...,...,...,...,...
4755,"Ford Focus 1,5L 2018","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos..."
4756,"Suzuki Solio 1,3L 2015","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric..."
4757,"Smart Fortwo 0,9L 2018","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos..."
4758,"Volkswagen Golf 1,4L 2008","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos..."
4759,"Honda Jazz 1,3L 2007","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri..."

In [14]:
dublicates_remove = import_data.drop_duplicates()
dublicates_remove

,Car,Km_Transmission_Gas,Price,Date_Place
0,"Land Rover Defender 2,0L 2020","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist..."
1,"Lamborghini Urus 4,0L 2020","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist..."
2,"Chevrolet Spark 1,0L 2012","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric..."
3,"Nissan Note e-Power 1,2L 2019","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri..."
4,"Subaru XV 2,0L 2020","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L..."
...,...,...,...,...
4755,"Ford Focus 1,5L 2018","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos..."
4756,"Suzuki Solio 1,3L 2015","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric..."
4757,"Smart Fortwo 0,9L 2018","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos..."
4758,"Volkswagen Golf 1,4L 2008","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos..."
4759,"Honda Jazz 1,3L 2007","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri..."

As we can see there were quite a few of dublicated data. Let's investigate the cause of the duplicate data in our records.

In [15]:
#create copy
no_dublicates = dublicates_remove.copy()

In [16]:
dublicates_were_removed = import_data[~import_data.isin(dublicates_remove)].dropna()
dublicates_were_removed

,Car,Km_Transmission_Gas,Price,Date_Place
48,Tesla Model Y Electric 2022,"40 km, Automatic, Electric",€91.000,"Today 16:15,\n Lefkosia (Nicosia) d..."
164,"Subaru XV 2,0L 2020","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L..."
294,"BMW X6 3,0L 2015","85000 km, Automatic, Diesel",€38.800,"Today 10:14,\n Limassol district, L..."
412,"Audi A4 1,8L 2009","174000 km, Manual, Petrol",€7.800,"21.01.2023 21:45,\n Limassol distri..."
414,"Hyundai i30 1,6L 2016","66180 km, Automatic, Petrol",€12.900,"Today 08:13,\n Larnaca district, La..."
...,...,...,...,...
4695,"Ford Mustang 2,3L 2019","65000 km, Automatic, Petrol",€49.995,"19.01.2023 16:31,\n Limassol distri..."
4696,"Nissan Serena 2,0L 2018","48200 km, Automatic, Petrol",€18.500,"18.01.2023 16:51,\n Lefkosia (Nicos..."
4697,"Citroen Berlingo 1,6L 2016","300000 km, Manual, Diesel",€8.500,"21.01.2023 12:56,\n Lefkosia (Nicos..."
4698,"Nissan 300ZX 3,0L 1991","130000 km, Automatic, Petrol",€21.000,"22.01.2023 12:33,\n Limassol distri..."
4699,"Mazda CX-3 1,8L 2020","51000 km, Automatic, Diesel",€23.500,"Yesterday 17:54,\n Paphos district,..."

Don't really know what I can do with the dublicated datas, later I will try to find out why we got dublicated data. It is likely that some of the cars were listed multiple times. Once the root cause is identified, I will take appropriate measures to address it.

## Split the columns so we have a better "view"

I plan to improve the organization of our records by restructuring the "car" and "km_transmission_gas" column. Specifically, I will separate the car brand, model, engine and year into their own columns. This will facilitate future analysis and provide more detailed information about the cars in our records.

In [17]:
dublicates_remove['Brand'] = dublicates_remove['Car'].str.split().str[0] #Car_Brand
dublicates_remove['Year'] = dublicates_remove['Car'].str[-4:] #Car_Year
dublicates_remove

/tmp/ipykernel_18477/3741467680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove['Brand'] = dublicates_remove['Car'].str.split().str[0] #Car_Brand
/tmp/ipykernel_18477/3741467680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove['Year'] = dublicates_remove['Car'].str[-4:] #Car_Year

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year
0,"Land Rover Defender 2,0L 2020","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020
1,"Lamborghini Urus 4,0L 2020","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020
2,"Chevrolet Spark 1,0L 2012","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012
3,"Nissan Note e-Power 1,2L 2019","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019
4,"Subaru XV 2,0L 2020","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020
...,...,...,...,...,...,...
4755,"Ford Focus 1,5L 2018","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018
4756,"Suzuki Solio 1,3L 2015","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015
4757,"Smart Fortwo 0,9L 2018","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018
4758,"Volkswagen Golf 1,4L 2008","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008
4759,"Honda Jazz 1,3L 2007","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007

In [18]:
for _, row in dublicates_remove.iterrows():
    words = row['Car'].split()
    dublicates_remove.loc[_, 'Car'] = ' '.join(words[1:-1])
dublicates_remove

/tmp/ipykernel_18477/2705941013.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove.loc[_, 'Car'] = ' '.join(words[1:-1])

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year
0,"Rover Defender 2,0L","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020
1,"Urus 4,0L","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020
2,"Spark 1,0L","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012
3,"Note e-Power 1,2L","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019
4,"XV 2,0L","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020
...,...,...,...,...,...,...
4755,"Focus 1,5L","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018
4756,"Solio 1,3L","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015
4757,"Fortwo 0,9L","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018
4758,"Golf 1,4L","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008
4759,"Jazz 1,3L","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007

In [19]:
columns_split = dublicates_remove.copy()

In [20]:
data_imported = columns_split.copy()

In [21]:
data_imported

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year
0,"Rover Defender 2,0L","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020
1,"Urus 4,0L","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020
2,"Spark 1,0L","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012
3,"Note e-Power 1,2L","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019
4,"XV 2,0L","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020
...,...,...,...,...,...,...
4755,"Focus 1,5L","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018
4756,"Solio 1,3L","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015
4757,"Fortwo 0,9L","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018
4758,"Golf 1,4L","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008
4759,"Jazz 1,3L","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007

In [22]:
data_imported['New_Car'] = data_imported['Car'].str[:-4]
data_imported

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year,New_Car
0,"Rover Defender 2,0L","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020,Rover Defender
1,"Urus 4,0L","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020,Urus
2,"Spark 1,0L","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012,Spark
3,"Note e-Power 1,2L","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019,Note e-Power
4,"XV 2,0L","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020,XV
...,...,...,...,...,...,...,...
4755,"Focus 1,5L","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018,Focus
4756,"Solio 1,3L","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015,Solio
4757,"Fortwo 0,9L","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018,Fortwo
4758,"Golf 1,4L","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008,Golf
4759,"Jazz 1,3L","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007,Jazz

In [23]:
data_imported['Engine'] = data_imported['Car'].str[-4:]
data_imported

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year,New_Car,Engine
0,"Rover Defender 2,0L","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020,Rover Defender,"2,0L"
1,"Urus 4,0L","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020,Urus,"4,0L"
2,"Spark 1,0L","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012,Spark,"1,0L"
3,"Note e-Power 1,2L","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019,Note e-Power,"1,2L"
4,"XV 2,0L","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020,XV,"2,0L"
...,...,...,...,...,...,...,...,...
4755,"Focus 1,5L","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018,Focus,"1,5L"
4756,"Solio 1,3L","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015,Solio,"1,3L"
4757,"Fortwo 0,9L","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018,Fortwo,"0,9L"
4758,"Golf 1,4L","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008,Golf,"1,4L"
4759,"Jazz 1,3L","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007,Jazz,"1,3L"

In [24]:
data_splited = data_imported.copy()

In [25]:
data_imported['Price'] = data_imported['Price'].replace(' \n          \n            \n            ','', regex=True)
data_imported

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year,New_Car,Engine
0,"Rover Defender 2,0L","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020,Rover Defender,"2,0L"
1,"Urus 4,0L","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020,Urus,"4,0L"
2,"Spark 1,0L","130000 km, Manual, Petrol",€3.500 \n \n \n€3.850,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012,Spark,"1,0L"
3,"Note e-Power 1,2L","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019,Note e-Power,"1,2L"
4,"XV 2,0L","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020,XV,"2,0L"
...,...,...,...,...,...,...,...,...
4755,"Focus 1,5L","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018,Focus,"1,5L"
4756,"Solio 1,3L","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015,Solio,"1,3L"
4757,"Fortwo 0,9L","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018,Fortwo,"0,9L"
4758,"Golf 1,4L","159000 km, Automatic, Petrol",€5.500€6.000,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008,Golf,"1,4L"
4759,"Jazz 1,3L","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007,Jazz,"1,3L"

In [26]:
def remove_second_euro(x):
    index = x.find('€', x.find('€') + 1)
    x = x[:index] + x[index + 3:]
    return x

In [27]:
data_imported['Price'] = data_imported['Price'].apply(remove_second_euro)
data_imported

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year,New_Car,Engine
0,"Rover Defender 2,0L","50000 km, Automatic, Diesel",€89.009.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020,Rover Defender,"2,0L"
1,"Urus 4,0L","15000 km, Automatic, Petrol",€349.0049.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020,Urus,"4,0L"
2,"Spark 1,0L","130000 km, Manual, Petrol",€3.500 \n \n \n850,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012,Spark,"1,0L"
3,"Note e-Power 1,2L","32000 km, Automatic, Hybrid Petrol",€15.655.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019,Note e-Power,"1,2L"
4,"XV 2,0L","13000 km, Automatic, Hybrid Petrol",€29.959.950,"Today 15:36,\n Limassol district, L...",Subaru,2020,XV,"2,0L"
...,...,...,...,...,...,...,...,...
4755,"Focus 1,5L","62000 km, Manual, Diesel",€18.008.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018,Focus,"1,5L"
4756,"Solio 1,3L","57000 km, Automatic, Petrol",€8.99.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015,Solio,"1,3L"
4757,"Fortwo 0,9L","48200 km, Automatic, Petrol",€17.997.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018,Fortwo,"0,9L"
4758,"Golf 1,4L","159000 km, Automatic, Petrol",€5.500000,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008,Golf,"1,4L"
4759,"Jazz 1,3L","154000 km, Manual, Petrol",€4.50.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007,Jazz,"1,3L"

In [28]:
data_dirty = data_splited.copy()

In [29]:
data_splited

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year,New_Car,Engine
0,"Rover Defender 2,0L","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020,Rover Defender,"2,0L"
1,"Urus 4,0L","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020,Urus,"4,0L"
2,"Spark 1,0L","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012,Spark,"1,0L"
3,"Note e-Power 1,2L","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019,Note e-Power,"1,2L"
4,"XV 2,0L","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020,XV,"2,0L"
...,...,...,...,...,...,...,...,...
4755,"Focus 1,5L","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018,Focus,"1,5L"
4756,"Solio 1,3L","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015,Solio,"1,3L"
4757,"Fortwo 0,9L","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018,Fortwo,"0,9L"
4758,"Golf 1,4L","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008,Golf,"1,4L"
4759,"Jazz 1,3L","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007,Jazz,"1,3L"

In [30]:
data_splited['Price'] = data_splited['Price'].replace(' \n          \n            \n            ','', regex=True)
data_splited

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year,New_Car,Engine
0,"Rover Defender 2,0L","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020,Rover Defender,"2,0L"
1,"Urus 4,0L","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020,Urus,"4,0L"
2,"Spark 1,0L","130000 km, Manual, Petrol",€3.500 \n \n \n€3.850,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012,Spark,"1,0L"
3,"Note e-Power 1,2L","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019,Note e-Power,"1,2L"
4,"XV 2,0L","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020,XV,"2,0L"
...,...,...,...,...,...,...,...,...
4755,"Focus 1,5L","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018,Focus,"1,5L"
4756,"Solio 1,3L","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015,Solio,"1,3L"
4757,"Fortwo 0,9L","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018,Fortwo,"0,9L"
4758,"Golf 1,4L","159000 km, Automatic, Petrol",€5.500€6.000,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008,Golf,"1,4L"
4759,"Jazz 1,3L","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007,Jazz,"1,3L"

In [31]:
data_splited["Price"] = data_splited["Price"].str.replace("\n", "").str.strip()
data_splited

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year,New_Car,Engine
0,"Rover Defender 2,0L","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020,Rover Defender,"2,0L"
1,"Urus 4,0L","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020,Urus,"4,0L"
2,"Spark 1,0L","130000 km, Manual, Petrol",€3.500 €3.850,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012,Spark,"1,0L"
3,"Note e-Power 1,2L","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019,Note e-Power,"1,2L"
4,"XV 2,0L","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020,XV,"2,0L"
...,...,...,...,...,...,...,...,...
4755,"Focus 1,5L","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018,Focus,"1,5L"
4756,"Solio 1,3L","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015,Solio,"1,3L"
4757,"Fortwo 0,9L","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018,Fortwo,"0,9L"
4758,"Golf 1,4L","159000 km, Automatic, Petrol",€5.500€6.000,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008,Golf,"1,4L"
4759,"Jazz 1,3L","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007,Jazz,"1,3L"

In [32]:
def split_and_join(x):
    splitted = x.split('€')
    return '€'.join(splitted[0:2])

# Apply the function to the 'price' column
data_splited['Price'] = data_splited['Price'].apply(split_and_join)

In [33]:
data_splited

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year,New_Car,Engine
0,"Rover Defender 2,0L","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020,Rover Defender,"2,0L"
1,"Urus 4,0L","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020,Urus,"4,0L"
2,"Spark 1,0L","130000 km, Manual, Petrol",€3.500,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012,Spark,"1,0L"
3,"Note e-Power 1,2L","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019,Note e-Power,"1,2L"
4,"XV 2,0L","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020,XV,"2,0L"
...,...,...,...,...,...,...,...,...
4755,"Focus 1,5L","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018,Focus,"1,5L"
4756,"Solio 1,3L","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015,Solio,"1,3L"
4757,"Fortwo 0,9L","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018,Fortwo,"0,9L"
4758,"Golf 1,4L","159000 km, Automatic, Petrol",€5.500,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008,Golf,"1,4L"
4759,"Jazz 1,3L","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007,Jazz,"1,3L"

In [34]:
data_splited['Km'] = data_splited['Km_Transmission_Gas'].str.split().str[0]
data_splited['Transmission'] = data_splited['Km_Transmission_Gas'].str.split().str[2]
data_splited['Gas'] = data_splited['Km_Transmission_Gas'].str.split().str[3]
data_splited

,Car,Km_Transmission_Gas,Price,Date_Place,Brand,Year,New_Car,Engine,Km,Transmission,Gas
0,"Rover Defender 2,0L","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020,Rover Defender,"2,0L",50000,"Automatic,",Diesel
1,"Urus 4,0L","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020,Urus,"4,0L",15000,"Automatic,",Petrol
2,"Spark 1,0L","130000 km, Manual, Petrol",€3.500,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012,Spark,"1,0L",130000,"Manual,",Petrol
3,"Note e-Power 1,2L","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019,Note e-Power,"1,2L",32000,"Automatic,",Hybrid
4,"XV 2,0L","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020,XV,"2,0L",13000,"Automatic,",Hybrid
...,...,...,...,...,...,...,...,...,...,...,...
4755,"Focus 1,5L","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,2018,Focus,"1,5L",62000,"Manual,",Diesel
4756,"Solio 1,3L","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,2015,Solio,"1,3L",57000,"Automatic,",Petrol
4757,"Fortwo 0,9L","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,2018,Fortwo,"0,9L",48200,"Automatic,",Petrol
4758,"Golf 1,4L","159000 km, Automatic, Petrol",€5.500,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,2008,Golf,"1,4L",159000,"Automatic,",Petrol
4759,"Jazz 1,3L","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,2007,Jazz,"1,3L",154000,"Manual,",Petrol

In [35]:
data_splited.drop(columns=["Car","Km_Transmission_Gas"], inplace=True) #delete extra columns
data_splited.head()

,Price,Date_Place,Brand,Year,New_Car,Engine,Km,Transmission,Gas
0,€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,2020,Rover Defender,"2,0L",50000,"Automatic,",Diesel
1,€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,2020,Urus,"4,0L",15000,"Automatic,",Petrol
2,€3.500,"Yesterday 10:06,\n Limassol distric...",Chevrolet,2012,Spark,"1,0L",130000,"Manual,",Petrol
3,€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,2019,Note e-Power,"1,2L",32000,"Automatic,",Hybrid
4,€29.950,"Today 15:36,\n Limassol district, L...",Subaru,2020,XV,"2,0L",13000,"Automatic,",Hybrid

In [36]:
data_splited['Date_Place'] = data_splited['Date_Place'].str.split().str[2]
data_splited.head()

,Price,Date_Place,Brand,Year,New_Car,Engine,Km,Transmission,Gas
0,€89.000,Paphos,Land,2020,Rover Defender,"2,0L",50000,"Automatic,",Diesel
1,€349.000,Paphos,Lamborghini,2020,Urus,"4,0L",15000,"Automatic,",Petrol
2,€3.500,Limassol,Chevrolet,2012,Spark,"1,0L",130000,"Manual,",Petrol
3,€15.650,Limassol,Nissan,2019,Note e-Power,"1,2L",32000,"Automatic,",Hybrid
4,€29.950,Limassol,Subaru,2020,XV,"2,0L",13000,"Automatic,",Hybrid

In [37]:
#remove the comma from the transmission column
data_splited['Transmission'] = data_splited['Transmission'].replace(",","",regex=True) 
data_splited.head()

,Price,Date_Place,Brand,Year,New_Car,Engine,Km,Transmission,Gas
0,€89.000,Paphos,Land,2020,Rover Defender,"2,0L",50000,Automatic,Diesel
1,€349.000,Paphos,Lamborghini,2020,Urus,"4,0L",15000,Automatic,Petrol
2,€3.500,Limassol,Chevrolet,2012,Spark,"1,0L",130000,Manual,Petrol
3,€15.650,Limassol,Nissan,2019,Note e-Power,"1,2L",32000,Automatic,Hybrid
4,€29.950,Limassol,Subaru,2020,XV,"2,0L",13000,Automatic,Hybrid

In [38]:
data_splited.to_csv('car_data_cleaned.csv', index=False)